body {
    padding-top: 80px;
}
.formulario {
    margin: 0 auto;
    padding-top: 50px;
}
.red {
    color: #ea2f10;
}
.orange {
    color: #e99002;
}
.blue {
    color: #007196;
}
.green {
    color: #2b6e44;
}